$q-background-color: #d5b5f1;
$border-color: #EAEAEA;
$q-grey-color: #DDDDDD;
$q-light-grey-color: #b9b8b8;
$primary-text-color: #565656;
$red-text-color: #FE7575;
$green-fill-color: #05a500;
$blue-text-color: #3FB9FE;
$box-shadow: 4px 4px 8px 1px rgba(0,0,0,0.83);

.group{
    display: flex;
    background-color: $q-light-grey-color;
    padding: 0.3em;
    margin: 0.2em;
    border: $border-color 2px solid;
    border-radius: 0.6em;
    position: relative;
    // overflow: hidden;
}

.group:hover{
    cursor: pointer;
}

.score{
    background-color: $q-grey-color;
    border: 2px solid $primary-text-color;
    border-radius: 50%;
    position: absolute;
    padding: 0.4em;
    top: -0.1em;
    left: 1.6em;
    flex: 0.5;
    transform: scale(1.1);
    text-align: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 600;
}

.groupName{
    margin-left: 1em;
    flex: 4;
    font-size: 1.3rem;
    font-weight: 600;
    font-style: italic;
    text-align: left;
    padding-left: 2.5em;
    text-transform: uppercase;
}

.turnContainer{
    background-color: $q-grey-color;
    flex: 1;
    justify-content: center;
    align-content: center;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 15%;
}

.turnIndicator{
    background-color: $q-light-grey-color;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    position: relative;
    top: 15%;
    left: 30%;
}
.turn {
    background-color: $green-fill-color;
}