$q-background-color: #d5b5f1;
$border-color: #EAEAEA;
$q-grey-color: #DDDDDD;
$q-light-grey-color: #b9b8b8;
$primary-text-color: #565656;
$red-text-color: #FE7575;
$green-fill-color: #05a500;
$blue-text-color: #3FB9FE;
$box-shadow: 4px 4px 8px 1px rgba(0,0,0,0.83);

.timer-controls{
    padding: 0.4em;
    .title {
        line-height: 1.2;
        font-size: 1.2rem;
        font-weight: 600;
        font-style: italic;
    }

    p.timer{
        font-size: 3.5rem;
        font-weight: 800;
        display: flex;
        place-content: center;
        padding: 0.2em;
        
        .seperator{
            font-size: 3rem;
        }
        .presec{
            font-size: 2rem;
            vertical-align: super;
        }
    }

    .controls{
        display: flex;
        flex-wrap: wrap;
        padding: 0.6em;
        place-content: center;


        .btn{
            flex-basis: 30%;
            cursor: pointer;
            padding: 0.4em;
            place-content: center;
            transition: box-shadow 0.5s;
            border-radius: 50%;

            &:hover{ 
                box-shadow: $box-shadow;
            }
        }

        .play{
            padding: 0.2em;
            flex-basis: 100%;
            margin-bottom: 0.8em;
            background-color: $green-fill-color;
            border: 2px solid $border-color;
            border-radius: 0.8em;
            &:hover{
                box-shadow: $box-shadow;
            }
            img{
                box-shadow: none;
            }
        }

        .audience{
            color: black;
            padding: 0.4em;
            margin-top: 0.4em;
            font-size: 1.4rem;
        }
    }
}