@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

$q-background-color: #d5b5f1;
$border-color: #EAEAEA;
$q-grey-color: #DDDDDD;
$q-light-grey-color: #b9b8b8;
$primary-text-color: #565656;
$red-text-color: #FE7575;
$green-fill-color: #12E935;
$blue-text-color: #3FB9FE;
$box-shadow: 4px 4px 8px 1px rgba(0,0,0,0.83);

.quiz-container{
    height: 100vh;
    width: 100vw;
    background-color: $q-background-color;
    padding: 0.4em;
    display: grid;
    grid-template-rows: 7em 1fr 3em;
    text-align: center;
    color: $primary-text-color;
    overflow: hidden;

    .quiz-body{
        height: 100%;
        background-color: $q-light-grey-color;
        padding: 0.4em 1em;
        display: grid;
        grid-template-columns: minmax(20%,25%) 1fr minmax(20%,25%);
        overflow: hidden;

        aside{
            // background-color: $q-grey-color;
            // border-top: 2px solid $primary-text-color;
            // border-bottom: 2px solid $primary-text-color;
            border-radius: 0.8em;
            // box-shadow: $box-shadow;
            display: grid;
            grid-template-rows: auto 1fr;
            height: 80vh;
            overflow: hidden;
            box-shadow: $box-shadow;
        }

        @media (max-width: 1500px) and (orientation: landscape) {
            aside{
                height: 75vh;
            }
        }
        
        .main-container {
            display: grid;
            grid-template-rows: 1fr minmax(5rem, 8rem);

            section {
                display: grid;
            }
        }
        
        .right-side-bar{
            display: grid;
            grid-template-rows: auto 1fr;
            
        }
    }
}