$q-background-color: #d5b5f1;
$border-color: #EAEAEA;
$q-grey-color: #DDDDDD;
$q-light-grey-color: #b9b8b8;
$primary-text-color: #565656;
$red-text-color: #FE7575;
$green-fill-color: #05a500;
$blue-text-color: #3FB9FE;
$box-shadow: 4px 4px 8px 1px rgba(0,0,0,0.83);

.groups{
    // padding: 0.2em;

    .title{
        height: 3%;
        font-size: 1.2rem;
        font-weight: 600;
        font-style: italic;
        padding: 0.4em ;
        margin-bottom: 0.8em;
        position: sticky;

        // &::before {
        //     content: '';
        //     background-color: $red-text-color;
        //     width: 30%;
        //     height: 2px;
        //     display: block;
        //     position: absolute;
        //     top: 30%;
        //     left: 35%;
        // }

        // &::after {
        //     content: '';
        //     background-color: $red-text-color;
        //     width: 95%;
        //     height: 2px;
        //     display: block;
        //     position: absolute;
        //     top: 140%;
        // }
    }
}